
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');



*{
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 30px 25px;
  height: 90px;
}
.nav-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.nav-logo-text{
  color: #61dafb;
  font-size: 20px;
  font-weight: 700;
  }

.nav-title{
  padding: 5px 0px;
  font-size: 17px;
}
.container{
  height: 100vh;
  padding:  57px 27px;
  background-color: #282d35;
  color: white;
  background-image: url(./images/reactlogo.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.container-text{
  font-size: 39px;
  letter-spacing: -0.05em;
}
.container-list{
  padding:  15px 20px;
  max-width: 700px;
}
.container-list li{
   padding-block: 10px;
   margin-left: 23px;
   font-size: 15px;
}
.container-list li::marker{
  font-size: 1.4em;
  color: #61dafb;
}